<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<title>Confirmation de votre réservation</title>
		<style>
			body { background-color: blue; color: white;}
			img { height: 150px; width: 150px;}
		</style>
	</head>

	<body>
	
		<h2>The Beluga Superstar Museum</h2>		
			<img src="{{ logo }}" alt="baby-beluga-draw" />													
		<h1>Confirmation de votre réservation !</h1>
		Votre réservation a bien été prise en compte !
				
	</body>
	
</html>