{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

	<div class="container confirmation-page">
		<div class="row">
			<div class="col-md-12">
				<h1 class="confirmation-page-main-title">The Amazing BELUGA SUPERSTAR MUSEUM</h1>
			</div>
			
			<div class="col-md-10 col-md-offset-1">				
				<div class="row confirmation-page-confirmation-text">
					<div class="col-md-6">
						<h2>Réservation confirmée !</h2>
						<p>Merci ! Vous allez bientôt recevoir un email contenant un récapitulatif pour la visite !</p>
						<p>Votre code de réservation est :</p>
						<p>{{ resa.code }}</p>
						<p>Il vous sera demandé à l'entrée du musée.</p>
						<p>En cas de problème :</p>
						<p>contact@amazingbelugamuseum.com</p>
						<p>A bientôt !</p>
					</div>
					
					<div class="col-md-6">
						{% image '@AppBundle/Resources/public/img/baby-beluga-draw.png' %}
							<img src="{{ asset_url }}" alt="baby-beluga-draw"  />
						{% endimage %}																		
					</div>
					
					<div class="col-md-12 text-center">
						<a class="btn-light-blue" href="{{ path('homepage') }}">Retourner à l'accueil</a>
					</div>
				</div>
			</div>
		</div>
						
		<footer class="footer">
			<p class="footer-text">About - Contact</p>
		</footer>		
	</div>

{% endblock content %}