{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

<h2>Confirmation</h2>

Réservation confirmée ! Ou pas confirmée...

<a class="btn btn-link" href="{{ path('homepage') }}">Retour</a>

{% endblock content %}